.sidebar {
  width: 230px;
  overflow: auto;
  bottom: 0;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #313131;
}

.brand {
  flex: 0.5;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  color: rgba(236, 244, 244, 0.75);
}

.accounts-list {
  flex: 4;
  list-style: none;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: rgba(236, 244, 244, 0.75);
  padding-left: 20px;
}

.accounts-list > li {
  margin-top: 1rem;
}

.add-account {
  flex: 0.5;
  background-color: #525252;
  border: none;
}

.add-account:active {
  background-color: #414141;
}
